[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas="*"
numpy="*"
tensorflow = "*"
sklearn = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"

[dev-packages]
jupyterlab="*"

[requires]
python_version = "3.8"
